{% extends 'base.html' %} {% block content %}
<h4>Team</h4>
<h5>{{team.name}}</h5>
<div class="pull-right"><a href="{% url 'cricapp:add_team_player' team.id %}">Create Player</a></div>
{% if messages %}
<div class="alert alert-success">
    {% for message in messages %} {{ message }} {% endfor %}
</div>
{% endif %} {% if players %}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">Team</th>
            <th scope="col">Jersey number</th>
            <th scope="col">Country</th>
        </tr>
    </thead>
    <tbody>
        {% for player in players %}

        <tr>
            <td>
                <a href="{% url 'cricapp:player_details' player.id %}">{{ player.first_name }}
                    {{ player.last_name }}</a>
            </td>
            <td>
                <img src="{{ player.image_uri }}" alt="Team Image" height="42" width="42" />
            </td>
            <td>{{ player.team }}</td>
            <td>{{ player.jersey_number }}</td>
            <td>{{ player.country }}</td>
        </tr>

        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No Player exist.</p>
{% endif %} {% endblock content %}